.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 75%;
}

.auth__title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth__title::after {
    content: '';
    border-bottom: 3px solid #000;
    width: 100%;
    display: block;
}

.auth__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.auth__field-label {
    margin-bottom: 10px;
    font-size: 20px;
}

.auth__field-input {
    border: none;
    border-radius: 15px;
    padding: 20px 10px;
}

.auth__field-input:focus {
    outline: none;
}

.auth__error-message {
    color: red;
}

.auth__button-div {
    display: flex;
    justify-content: end;
}

.auth__button-div-close, .auth__button-div-submit {
    padding: 10px 15px;
    font-family: 'Montserrat', Arial;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.auth__button-div-close {
    margin-right: 20px;
}