.main {
    padding-top: 120px;
    padding-left: 210px;
    padding-bottom: 30px;
}

.visual-charts__one {
    display: flex;
    flex-direction: row;
}

.visual-charts__two {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 37px;
}

.visual-charts__pie {
    width: 450px;
}

.visual-charts__bar {
    flex: 1;
    display: flex;
    justify-content: center;
}