.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid;
    padding-top: 120px;
    z-index: 3;
    background-color: white;
}

.sidebar__element {
    display: grid;
    /* position: fixed;
    top: 100px; */
    justify-content: center;
}

.sidebar__element-input-div {
    margin-bottom: 15px;
}

.sidebar__element-input {
    padding: 5px 10px;
}

.sidebar__element-button-div {
    display: flex;
    justify-content: end;
}

.sidebar__element-button {
    cursor: pointer;
    padding: 5px 10px;
}