.line-chart-container {
    width: 500px;
    height: 250px;
    text-align: center;
}

.line-chart-container__children {
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 10px;
}

.line-chart-container__label {
    margin-top: 10px;
}